###rasa_nlu
gevent~=1.4
Klein~=17.10
boto3~=1.5
typing~=3.6
future~=0.17.1
six~=1.11
jsonschema==2.6.0
matplotlib~=2.0
requests~=2.20
tqdm~=4.19
numpy~=1.16
simplejson~=3.13

### Sklearn
spacy==2.0.1
scikit-learn~=0.20.2
sklearn-crfsuite==0.3.5

###rasa_core
apscheduler==3.3.1
fakeredis~=0.10.0
graphviz==0.7.1
h5py==2.7.0
jsonpickle~=1.0
keras==2.0.8
pandoc==1.0.0b2
redis==2.10.5
tensorflow~=1.12.0
networkx~=2.2
fbmessenger==5
ConfigArgParse==0.13.0
pykwalify~=1.7.0
coloredlogs~=10.0
ruamel.yaml==0.15.34
flask~=1.0
rasa_nlu

###additional
pypandoc
slackclient
rasa_core
