###rasa_nlu
gevent==1.2.1
Klein==17.2.0
boto3==1.4.4
typing==3.6.6
future==0.16.0
six
jsonschema==2.6.0
matplotlib
requests==2.14.2
tqdm==4.11.2
numpy
simplejson==3.11.1

### Sklearn
spacy==2.0.18
scikit-learn==0.20.0
sklearn-crfsuite==0.3.5

###rasa_core
apscheduler
fakeredis==0.8.2
graphviz
h5py
jsonpickle
keras
pandoc
redis==2.10.5
tensorflow
networkx
fbmessenger
ConfigArgParse
pykwalify
coloredlogs
ruamel.yaml
flask
rasa_nlu==0.11.4

###additional
pypandoc
slackclient
rasa_core==0.8.2
